@font-face {
  font-family: Rubik;
  src: url(../Media/Font/Rubik-VariableFont_wght.ttf);
}

body {
    background-color: white;
    color: black;
    font-family: Rubik, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.divs {
    height: 100vh;
    width: 100vw;
    display: flex;
    border: 1px green solid;
}

#main-div {
    align-items: center;
    flex-direction: row;
}

#title {
    border: 1px blue solid;
    margin-left: 10%;
    padding: 0;
}

#portfolio {
    font-size: 8vw;
}

#subtitle {
    font-size: 4vw;
    font-style: italic;
}

#about-div {

}

#projects-div {
  display: flex;
  flex-direction: row;
}

.prev-nextButtons {
  align-self: center;
  justify-self: center;
  position: sticky;
}

.wrapper-div{
    position: sticky; top: 0;
    background-color: pink;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .invisidiv{
    height: 100vh;
    background-color: black;
  }
  
  .slide{
     min-width: 99.9vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .red{
    background-color: red;
  }
  
  .blue{  
    background-color: blue;
  }
  
  .green{
    background-color: green;
  }